@import "https://www.nerdfonts.com/assets/css/webfont.css";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
}

/*------ fonts ------*/
:root {
  /*font size*/
  --text-sm: 1.2rem;
  --text-base: 1.6rem;
  --text-Paragraph: 2rem;
  --text-h5: 2.4rem;
  --text-h4: 3.2rem;
  --text-h3: 4rem;
  --text-h2: 4.8rem;
  --text-h1: 9.2rem;

  /*font weights*/
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /*line hights*/
  --line-hight-tight: 1.2;
  --line-hight-normal: 1.5;

  --letter-spacing-tight: -2;

  --border-radius: 15px;

  --font-family: "Instrument Sans", sans-serif;
}

:root {
  --Midnight-Edition: #0b131e;
  --Oceanic-Noir: #202b3b;
  --White: #e1e1e3;
  --gray: #8f959d;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-hight-normal);
  color: var(--White);
}

/*------ items ------*/
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--letter-spacing-tight);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-hight-tight);
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}

h4 {
  font-size: var(--text-h4);
}

h5 {
  font-size: var(--text-h5);
}

p,
a,
small {
  line-height: var(--line-hight-normal);
}

p {
  font-size: var(--text-Paragraph);
}

/*anchor*/
a {
  text-decoration: none;
  font-size: var(--text-base);
  /*margin: 10px;*/
  display: inline-block;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--White);
}

small {
  font-size: var(--text-sm);
}

span {
  display: inline-block;
}

ul {
  list-style: none;
}

input {
  background-color: var(--Oceanic-Noir);
  color: var(--White);
  border: 0px;
  border-radius: var(--border-radius);
  padding: 2rem;
  font-family: var(--font-family);
  /* margin: 1rem; */
  width: 100%;
}

/*--------------- SECTIONS ---------------*/
#container,
#hero-air-container,
#hero-container {
  display: flex;
  gap: 3rem;
}

#hero-air-container {
  flex-direction: column;
}

#container {
  flex-direction: column;
  min-height: 100vh;
  min-width: 450px;
  justify-content: space-around;
}

#hero-container {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#container {
  background-color: var(--Midnight-Edition);
  padding: 3rem;
  align-items: center;
}

#main-container {
  max-width: 1200px;
  width: 100%;

  display: flex;
  gap: 3rem;
  justify-content: center;
  /* justify-content: space-around; */
}

#todays-container,
#today-container {
  margin: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

#today-container {
  align-items: center;
  height: 100%;
}

#today-div-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#today-forecast {
  max-width: 42rem;
  min-width: 42rem;
}

.weather-icon {
  font-size: 4rem;
}

#today-icon {
  font-size: 20rem;
}

#input-section {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

#header-container {
  width: 100%;
}

#air-container,
#todays-forecast-container,
#weather-container {
  border-radius: var(--border-radius);
  background-color: var(--Oceanic-Noir);
  padding: 3rem;
}

#air-info,
#weather-info,
#air-container,
#weather-container {
  display: flex;
  gap: 3rem;
}

#air-info {
  justify-content: space-evenly;
}

#DewPoint-container,
#humidity-container,
#wind-container,
#precipitation-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#wind-direction-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#weather-info {
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

#weather-container {
  flex-direction: column;
}

#air-container {
  flex-direction: column;
}

.todays {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.DaysText {
  min-width: 4rem;
}

.DaysTemps {
  min-width: 8rem;
}

.days {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.light-text {
  color: var(--gray);
}
